@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");

.navlink {
  //   color: white !important;
}

.selected-navlink {
  background-color: #f2d9bb;
  color: #293c73 !important;
  border-radius: 6px;
  font-weight: 700;
}
