@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap");
// body {
//   min-height: 100vh;
//   min-height: -webkit-fill-available;
// }

// html {
//   height: -webkit-fill-available;
// }
body,
html {
  height: 100%;
}

.selected-navlink {
  background-color: #f2d9bb;
  color: #27459c !important;
  border-radius: 6px;
  font-weight: 700;
}

.shadowed {
  box-shadow: 0px 4px 12px rgba(213, 217, 227, 0.2);
}

// @media screen and (min-width: 768px) {
//   ::-webkit-scrollbar-track {
//     margin: 27px;
//   }

//   .custom-scrollbar::-webkit-scrollbar-track {
//     margin: 4px;
//   }

//   ::-webkit-scrollbar {
//     width: 20px;
//     height: 20px;
//     background-color: transparent;
//   }

//   ::-webkit-scrollbar-thumb {
//     width: 10px;
//     height: 10px;
//     border-radius: 10px;
//     border: 6px solid transparent;
//     box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
//     -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
//     background-color: #a4bbdf;
//     background-clip: padding-box;
//   }
// }
